aiohttp==2.3.1
arrow==0.10.0
asyncio==3.4.3
backports.functools-lru-cache==1.4
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
Django==1.11.7
html5lib==0.999999999
idna==2.6
inflection==0.3.1
lxml==4.1.0
Markdown==2.6.9
markdown2==2.4.0
matplotlib==2.1.0
numpy==1.13.3
olefile==0.44
ORM==1.1.0
pandas==0.21.0
Pillow==4.3.0
Pygments==2.2.0
PyMySQL==0.7.11
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
scikit-learn==0.19.0
scipy==0.19.1
six==1.11.0
SQLAlchemy==1.1.14
subprocess32==3.2.7
urllib3==1.22
virtualenv==15.1.0
webencodings==0.5.1
